header{
    text-align: center;
   
}
img{
    border-radius: 50%;
    border: 2px solid black;
    width: 200px;
    height: 250px;
}
.titulo{
    font-size: 38px;
    color: darkslateblue;
}
.subtitulo{
    font-size: 28px;
    color: black;
}
.contato{
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    line-height: 150%;
}
body{
    background-color:#E6E6FA;
}
h3{
    color: darkslateblue;
}